{% extends 'base.html' %}

    {% block mycontent %}
    <div id="page-wrapper">
        <div class="main-page">
            <div class="tables">
                <div class="bs-example widget-shadow" data-example-id="bordered-table"> 
                    <h4>Plans:</h4>
                    <table class="table table-bordered"> 
                        <thead> 
                            <tr> 
                                <th>Plan Id</th> 
                                <th>Title</th>
                                <th>Details</th>
                                <th>Price</th>
                                <th>Duration</th>
                                <th>Action</th>
                            </tr> 
                        </thead> 
                        <tbody> 
                            {% for i in mydata %}
                            <tr>
                                <td>{{i.0}}</td>
                                <td>{{i.1}}</td>
                                <td>{{i.2}}</td>
                                <td>{{i.3}}</td>
                                <td>{{i.4}}</td>
                                
                                
                                <td><a href='Plan/edit/{{i.0}}'>Edit</a> | <a href='Plan/delete/{{i.0}}' onclick="return delMsg();">Delete</a> </td>
                            </tr>
                            {% endfor %}
                            {% if messages %}
                                   <ul class="messages">
                                   {% for message in messages %}
                                       <li {% if message.tags %} class=" {{ message.tags }} " {% endif %} >
                                          <script>alert('{{ message }}')</script>
                                       </li>
                                   {% endfor %}
                                   </ul>
                            {% endif %}   
                        </tbody> 
                        <script type="text/javascript">
                            function delMsg() {
                                if (confirm("Are you sure about deleting record?")) {
                                    return true;
                                }
                                else
                                    return false;
                            }
                        </script>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}